html {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    max-width: 75%;
}
@media (max-device-width: 1000px) {
    html {
        max-width: 100%;
    }
}
.link, .link:visited {
    color: var(--clr-accent);
}
.link:hover {
    color: var(--clr-accent2);
}
.text, .text:visited {
    color: var(--clr-text);
    text-decoration: none;
}
.text:hover {
    color: var(--clr-subtext);
    text-decoration: underline;
}
.subtext {
    color: var(--clr-subtext);
    font-size: 0.8em;
}
.error {
    color: var(--clr-red);
    font-weight: bold;
}
input[type='text'] {
    border: 0;
    border-bottom: 1px solid var(--clr-overlay);
    background-color: var(--clr-surface);
    color: var(--clr-text);
    font-size: inherit;
    padding: 0.5em;
    padding-bottom: calc(0.5em - 1px);
}
input[type='text']:focus, input[type='text']:hover {
    outline: none;
    border: 1px solid var(--clr-overlay);
    padding: calc(0.5em - 1px);
}
/* why are checkboxes so fucking hard to style???? */
input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    height: 1.25em;
    width: 1.25em;
    background-color: var(--clr-surface);
    display: inline-block;
}
input[type='checkbox']:checked + .checkmark {
    background-color: var(--clr-accent);
}
.checkmark:after {
    content: '';
    position: relative;
    display: none;
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid var(--clr-bg);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
input[type='checkbox']:checked + .checkmark:after {
    display: block;
}
button,.button {
    background-color: var(--clr-surface);
    border: none;
    color: var(--clr-text);
    display: block;
    font-size: inherit;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
}
button:hover, .button:hover {
    background-color: var(--clr-overlay);
    cursor: pointer;
}
select {
    background-color: var(--clr-surface);
    border: none;
    color: var(--clr-text);
    font-size: inherit;
    padding: 0.5em;
}
select:hover {
    border: 1px solid var(--clr-overlay);
    padding: calc(0.5em - 1px);
}
.center {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.flexrow {
    display: flex;
}
.flexrow > *:first-child {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}
.flexrow > *:last-child {
    display: flex;
    flex: 2 0 auto;
    justify-content: flex-end;
}