---
import { invapi } from "../../config";
import VideoCard from "../../components/VideoCard.astro";
import Standard from "../../layouts/Standard.astro";
import DebugInfo from "../../components/DebugInfo.astro";

const res = await fetch(`${invapi}/api/v1/popular`);
const data = await res.json();
---

<Standard>
	<div class="video-feed">
		{data.map((v: any) => (
			<VideoCard data={v} />
		))}
	</div>
	<DebugInfo data={data} />
</Standard>

<style>
	.video-feed {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-start;
		gap: 1em;
	}
</style>