<hr />
<p>This is a proof of concept of a YouTube frontend built using Astro. A lot of stuff is missing and/or incomplete - this is not meant for production by any means necessary, and many details may change over time.</p>
<a href="https://github.com/ggtylerr/astrotube" class="link">Source Code</a>