---
import SearchBar from "./SearchBar.astro";

interface Props {
    searchQuery: string;
}
const { searchQuery } = Astro.props;
---

<header>
    <h1><a href="/" class="text">AstroTube PoC</a></h1>
    <SearchBar query={searchQuery} />
    <a href="/settings" class="text">Settings</a>
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        display: inline-block; 
    }
</style>