---
interface Props {
    query: string;
}
const { query } = Astro.props;
---

<form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search..." value={query} />
</form>

<style>
    form {
        display: inline-block;
        width: 25%;
    }
    input {
        width: 100%;
    }
</style>