<form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search..." />
</form>

<style>
    form {
        display: inline-block;
        width: 25%;
    }
    input {
        width: 100%;
    }
</style>